::-webkit-scrollbar {
  width: .3em;
  height: .3em;
}

::-webkit-scrollbar-track {
  background: #cacfd6;
  /* border-radius: 100vw; */
  /* margin-block: .5em; */
}

::-webkit-scrollbar-thumb {
  background: #2d3319;
  border-radius: 100vw;
}

@supports (scrollbar-color: red blue) {
  * {
      scrollbar-color: #0e6117 #16f230;
  }
}